<mat-toolbar style="background-color: #9c29ce">
  <span>Quiz App</span>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="/welcome"
    matTooltip="Home"
  >
    <mat-icon>home</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="/welcome"
    matTooltip="About"
    (click)="openBottomSheet()"
  >
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>
