<mat-nav-list>
  <div class="bottom_sheet">
    <h1>Quiz app</h1>
    <p>v 1.0</p>

    <mat-chip-list>
      <a href="https://www.tomruzicka.cz/" target="_blank">
        <mat-chip class="bottom_chip">
          <mat-chip-avatar>
            <img
              src="https://www.tomruzicka.cz/_next/image?url=%2Fimages%2Frose-dark.png&w=32&q=75"
              alt="rose"
            />
          </mat-chip-avatar>
          Visit my website!
        </mat-chip>
      </a>
    </mat-chip-list>
  </div>
</mat-nav-list>
